DB_DRIVER={SQL Server}
DB_SERVER=DESKTOP-TF0HMPQ
DB_DATABASE=diabetic_data
DB_TRUSTED_CONNECTION=yes

# 本機用 sql；線上部署改 csv
DATA_SOURCE=sql
DATA_CSV_PATH=data/diabetic_data.csv

MODEL_PATH=models/diabetes_pipeline.pkl
METRICS_PATH=models/metrics.json
REPORTS_DIR=models/reports
